@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Stack+Sans+Headline:wght@200..700&display=swap');
@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-primary: 'Cormorant Garamond', serif;
  --font-secondary: "Stack Sans Headline", sans-serif;

  --color-primary: #f6f5ef;
  --color-secondary: #413d3a;
  --color-accent: #596854;

  --color-bg-primary: #96493F;
  --color-bg-secondary: #f6f5ef;

  --color-button: #f6f5ef;
}

#root {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;

  font-family: 'Stack Sans Headline', sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: #414141;
  background-color: #E2DEDA !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Toast animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
